body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: blueviolet;
}

.wrapper {
    width: 720px;
    border-radius: 20px;
    padding: 35px 40px;

    color: blue;
    background: red;
}

.wrapper header {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    border-top: solid red 1px;
}

header h2 {
    font-size: 2.5rem;
}
.piano-keys {
    position: relative;
}

.white-keys {
    display: flex;
    align-self: center;
}
.white-key {
    width: 100px;
    height: 400px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    border: solid black 1px;
    box-sizing: border-box;
}

.white-key > span {
    display: flex;
    position: absolute;
    color: black;
    font-size: 1.6rem;
    text-align: center;
    bottom: 50px;
}

.black-keys{
    display: flex;
    position: relative;
}

.black-key {
    width: 70px;
    height: 230px;
    border-radius: 0 0 5px 5px;
    background-color: black;
    box-sizing: border-box; 
    position: absolute;
    bottom: 169px;
}

.black-key > span {
    display: flex;
    font-size: 1.6rem;
    color: white;
    align-self: center;
    justify-content: center;
}

.piano-keys .h3 {
    display: flex;
    position: relative;
    justify-content: center;
    align-self: center;
}

#w {
    left: 55px;
}

#e {
    left: 145px;
}

#t {
    left: 325px;
}

#y {
    left: 415px;
}

#u {
    left: 505px;
}
